@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">School Application</h1>
        <p class="lead"></p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Join Us &raquo;</a></p>
    </section>

    <div class="row">
        <h1>Excited to join us to explore the future 😊🙌 </h1>
    </div>
</main>